/project/packages
project/XeroDB/sql
project/XeroLogDB/sql
project/XeroDB/Server/sql
bin
obj
*#
*~
*.suo
*.dotCover
*.dbmdl
*.user
desktop.ini
.DS_Store
.sass-cache
.#*
_ReSharper.Xero
_ReSharper.XeroDB
_ReSharper.XeroDBproject/
project/_ReSharper*
README.html
spec/FitNesseRoot/FitNesse/
*.zip
spec/FitNesseRoot/ErrorLogs/
spec/FitNesseRoot/files/testResults/
spec/FitNesseRoot/RecentChanges/
spec/FitNesseRoot/files/testProgress/
*.psess
*.vsp
API.ncrunchsolution
project/_NCrunch_API/
*.ncrunchproject
spec/log
.bundle/
teamcity-info.xml
ruby/
out/
project/Xero.API.Web/doc/
project/Xero.API.Acceptance.Tests/doc/
project/Xero.API.Acceptance.Tests.Lib/xerofx/
project/Xero.API.Acceptance.Tests.Lib/README.txt
project/Xero.API.Acceptance.Tests/README.txt
project/Xero.API.Acceptance.Tests/Thinktecture.IdentityModel.chm
project/Xero.API.Acceptance.Tests/xerofx/
YAPM Packages/
.Environment-Configurations/
project/**/FodyWeavers.xml
project/**/doc/
project/**/Thinktecture.IdentityModel.chm
project/**/Business.Reporting.TenNinetyNine/
project/Xero.API.Core/deploy.xml
project/Xero.API.Core/app.config
project/Xero.API.Library/app.config
project/Xero.API.Library/deploy.xml
project/Xero.API.Core/FodyWeavers.xml
project/Xero.API.Core/doc/
project/Xero.API.Core/Thinktecture.IdentityModel.chm
project/Xero.API.Core/Business.Reporting.TenNinetyNine/
project/Xero.API.Core/deploy.xml
project/YAPM\ Build\ Support/
Gemfile.lock
project/Api.Accounting.Web/x-v.txt
deploy.xml
run.bat
project/data/
/.idea/
*.dll
*.dll

*packages/*
